{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>    
    <link rel="stylesheet" href="{% static 'staticCSS/login.css' %}">
</head>
<body>

    <!-- Cabeçalho / Navbar inspirada no modelo do Hospital -->
    <header class="navbar">
        <div class="logo">
            <i class="fa-solid fa-hospital-user"></i> Hospital <span>+</span>
        </div>
        <nav>
            <a href="#">Entrar</a>
            <a href="#">Serviços</a>
            <a href="#">Contato</a>
        </nav>
    </header>

    <!-- Container responsável por centralizar o formulário na tela abaixo do navbar -->
    <div class="form-container">
        <div class="login-container">
            <!-- Logo -->
            <div class="logo-title-container">
            
            </div>
            <h1 class="main-heading">CAYAC</h1>
            <div class="logo">C</div> 
            <!-- Título Principal -->
            <p class="sub-heading">Venha nos conhecer</p>

            <!-- Formulário de LOGIN -->
            <form method="POST">
                {% csrf_token %}

                {% if erro %}
                    <p style="color: red; text-align: center; font-size: 14px; margin-bottom: 10px;">{{ erro }}</p>
                {% endif %}

                <!--O campo de login-->
                <input type="email" name="email" class="input-field" placeholder="Email" required>
                <input type="password" name="senha" class="input-field" placeholder="Senha" required>

                <!-- O botão de LOGIN -->
                <button type="submit" class="login-button">Entrar</button>

            </form>


            <!-- Divisor com "Or" -->
            <div class="divider">
                <span class="divider-text">Or</span>
            </div>

            <!-- Botões de Login Social -->
            <div class="social-buttons">
            </div>

            <!-- Texto de Registro -->
            <p class="Cadastre-se-text">
                Não tem conta? <a href="{% url 'pagina_cadastro'%}" class="Cadastre-se-link">Cadastre-se</a>
            </p>
        </div>
    </div>

</body>
</html>